<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-info">
  <a class="navbar-brand align-middle" href="#">
    <img src="assets/images/logo.png" width="36" height="36" class="mr-2">
    <span class="text-white">
            {{headerTitle}}
        </span>
  </a>
  <button class="navbar-toggler" type="button"
          data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon text-white"></span>
    <!--<i class="material-icons ">reorder</i>-->
  </button>
</nav>
